[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[dev]
framework = "vite"
targetPort = 5173
port = 8888
envFiles = [".env"]


# Redirect API -> Functions (vale sia in dev che in prod)
[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
  force = true

# SPA fallback
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

 [[scheduled]]
  name = "update-classifica"
  cron = "0 21 * * *"
  path = "/.netlify/functions/update-classifica"
